{%  extends "header.html" %}

{% block content %}
    <h3 class="tittlePage">Cadastrar Dono</h3>
    <form role="form" action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="cadastrar" class="btn btn-success">Cadastrar</button>
    </form>

    {% for aviso in avisos_sucesso %}
        <div class="alert alert-success" role="alert">
            <p>{{aviso}}</p>
        </div>
    {%  endfor %}
    {% for aviso in avisos_erro %}
        <div class="alert alert-danger" role="alert">
            <p>{{aviso}}</p>
        </div>
    {%  endfor %}
{% endblock %}