{%  extends "header.html" %}

{% block content %}
    <div class="row">
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-lg-offset-2 col-xs-offset-2 col-sm-offset-2 col-md-offset-2">
            <p>Carrinho</p>


            <table class="table">
                <thead>
                <tr>
                    <th>Produto</th>
                    <th>Tipo</th>
                    <th>Marca</th>
                    <th>Supermercado</th>
                    <th>Preco</th>
                    <th>Quantidade</th>
                    <th>Remover</th>
                </tr>
                </thead>

                <form method="POST">
                    {% csrf_token %}
                    <tbody>
                    {% for produto in prodCarrinho %}
                        <tr>
                            <td>{{produto.idProduto.nome}}</td>
                            <td>{{produto.idProduto.tipo}}</td>
                            <td>{{produto.idProduto.marca}}</td>
                            <td>{{produto.idSupermercado.nome}}</td>
                            <td>{{produto.preco}}</td>
                            <td><input type="number" name="quantidade" typeof="float" value="1"></td>
                            <td><button type="submit" value="{{ produto.idProduto.idProduto }}"
                                        class="glyphicon glyphicon-remove" name="deletar"></button></td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td>Total: </td>
                        <td></td>
                        <td></td>
                        <td>{{ TotalCarrinho }}</td>
                        <td></td>
                        <td></td>
                        <td><button type="submit" name="calcular">Calcular</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
