{%  extends "header.html" %}

{% block content %}
    <div class="row">
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-lg-offset-2 col-xs-offset-2 col-sm-offset-2 col-md-offset-2">
            <h2 class="tittlePage">Favoritos</h2>
            <section class="conteudo">
                <form method="POST">
                    {% csrf_token %}
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Produto</th>
                            <th>Tipo</th>
                            <th>Marca</th>
                            <th>Supermercado</th>
                            <th>Preco</th>
                            <th>Remover</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for produto in prodFavorito %}
                            <tr>
                                <td>{{produto.idProduto.nome}}</td>
                                <td>{{produto.idProduto.tipo}}</td>
                                <td>{{produto.idProduto.marca}}</td>
                                <td>{{produto.idSupermercado.nome}}</td>
                                <td>{{produto.preco}}</td>
                                <td><button type="submit" value="{{ produto.idProduto.idProduto }}"
                                            class="glyphicon glyphicon-remove" name="deletar"></button></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </form>
            </section>
        </div>
    </div>
{% endblock %}
