{%  extends "header.html" %}

{% block content %}
    <h2 class="tittlePage">Entre no Sistema</h2>
    <div class="row conteudo">
        <form role="form" action="" method="get">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" name="logar" class="btn btn-success">Entrar</button>
        </form>
    </div>
    {% for aviso in avisos %}
        <div class="alert alert-danger" role="alert">
            <p>{{aviso}}</p>
        </div>
    {%  endfor %}
{% endblock %}