{%  extends "header.html" %}

{% block content %}
    <div class="row" xmlns="http://www.w3.org/1999/html">
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-lg-offset-2 col-xs-offset-2 col-sm-offset-2 col-md-offset-2">
            <h2 class="tittlePage">Cadastrar Produto</h2>

            <section class="conteudo">
                <form class="margin-top5px" role="form" action="" method="POST">
                    <div class="form-group col-lg-6 col-lg-offset-3">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-lg-offset-3">
                            <div class="modal-footer">
                                <button type="submit" name="cadastrarProd" class="btn btn-success pull-right">Cadastrar</button>
                                <button type="submit" name="Cancelar" class="btn btn-danger margin-right3percent pull-right">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </form>

                <table class="table">
                    <h2>Produtos Cadastrados</h2>
                    <thead>
                    <tr>
                        <th>Produto</th>
                        <th>Marca</th>
                        <th>Supermercado</th>
                        <th>Preco</th>
                        <th>Quantidade</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for produto in produtos %}
                        <tr>
                            <td>{{produto.idProduto.nome}}</td>
                            <td>{{produto.idProduto.marca}}</td>
                            <td>{{produto.idSupermercado.nome}}</td>
                            <td>R$ {{produto.preco}}</td>
                            <td>{{produto.quantidade}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {% for aviso in avisos %}
                    <p>{{aviso}}</p>
                {%  endfor %}
            </section>
        </div>
    </div>
{% endblock %}