{%  extends "header.html" %}

{% block content %}
    <div class="row">
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-lg-offset-2 col-xs-offset-2 col-sm-offset-2 col-md-offset-2">
            <h1>Cadastrar Produto</h1>
            <form role="form" action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" name="cadastrarProd" class="btn btn-success">Cadastrar</button>
            </form>

            <table class="table">
                <caption>Produtos Cadastrados</caption>
                <thead>
                <tr>
                    <th>Produto</th>
                    <th>Marca</th>
                    <th>Supermercado</th>
                    <th>Preco</th>
                    <th>Quantidade</th>
                </tr>
                </thead>

                <tbody>
                {% for produto in produtos %}
                    <tr>
                        <td>{{produto.idProduto.nome}}</td>
                        <td>{{produto.idProduto.marca}}</td>
                        <td>{{produto.idSupermercado.nome}}</td>
                        <td>{{produto.preco}}</td>
                        <td>{{produto.quantidade}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {% for aviso in avisos %}
                <p>{{aviso}}</p>
            {%  endfor %}
        </div>
    </div>
{% endblock %}